    <footer class="bg-light text-center text-white mt-auto">
            <div class="container p-4 pb-0">
                <section class="mb-4">
                    <!-- Bouton GitHub -->
                    <a class="btn btn-light btn-floating m-1" href="https://github.com/faridontheshore/quizMaster" role="button">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
            </div>
            <div class="text-center p-3 bg-dark">
                © 2024 Tous droits réservés:
                <a class="text-white" href="http://localhost:8000">QuizMaster</a>
            </div>
        </footer>
