* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width:100%;
    min-height:100vh;
    display: flex; 
    flex-direction: column; 
}

nav{
    border-bottom:solid 3px;
}

#imgSize {
    max-height: 80px;
}

         
.btn-grad {
    /* Dégradé de couleur pour le fond du bouton */
    background-image: linear-gradient(to right, #1f1f1f 0%, #3d3d3d  70%, #141414  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
  }

.btn-grad:hover {
    /* Position du dégradé de couleur lors du survol du bouton */
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



footer {
    margin-top: auto;
}

footer a i {
    /* Taille de la police d'icône dans le pied de page */
    font-size: 25px;
}